:root {
  /* ### Primary */
  --color-soft-red: hsl(7, 99%, 70%);
  --color-yellow: hsl(51, 100%, 50%, 0.5);
  --color-dark-desaturated-cyan: hsl(167, 40%, 24%);
  --color-dark-blue: hsl(198, 62%, 26%);
  --color-dark-moderate-cyan: hsl(168, 34%, 41%);
  /* Neutral */
  --color-verydark-desaturated-blue: hsl(212, 27%, 19%);
  --color-verydark-grayish-blue: hsl(213, 9%, 39%);
  --color-dark-grayish-blue: hsl(232, 10%, 55%);
  --color-grayish-blue: hsl(210, 4%, 67%);
  --color-white: hsl(0, 0%, 100%);
}
/* Typography */
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}
body {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  color: var(--color-dark-grayish-blue);
  font-size: 2.4rem;
  line-height: 1.5;
}
h1 {
  font-size: 7rem;
  color: var(--color-soft-red);
}
h2 {
  font-size: 4rem;
  color: var(--color-verydark-desaturated-blue);
}
h3 {
  font-size: 3rem;
  color: var(--color-dark-blue);
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* Links */
a {
  text-decoration: none;
}
.link-arrow {
  font-family: "Fraunces", "Times New Roman", Times, serif;
  color: var(--color-verydark-desaturated-blue);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;

  border: solid 7px var(--color-yellow);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.6rem;
  }
}

/* icons */
.icon {
  fill: var(--color-dark-moderate-cyan);
  width: 40px;
  height: 40px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* testimonial icon */
.testimonial-icon {
  height: 100px;
  weight: 100px;
  border-radius: 100px;
}
