<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">sunnyside</h2>
    <svg class="icon icon--white collapsible__hamburger">
      <use xlink:href="images/sprite.svg#icon-hamburger"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis sed
    rerum molestiae dolorem adipisci nulla necessitatibus porro beatae aliquid
    voluptas.
  </div>
</div>
