<div class="card-testimonial">
  <h3>Client Testimonial</h3>
  <div class="card">
    <div class="grid grid--1x3">
      <div>
        <img class="testimonial-icon" src="images/image-emily.jpg" alt="" />
        <p class="testimonial__message">
          We put our trust in Sunnyside and they delivered, making sure our
          needs were met and deadlines were always hit.
        </p>
        <h4>Emily R.</h4>
        <h5>Marketing Director</h5>
      </div>
      <div>
        <img class="testimonial-icon" src="images/image-thomas.jpg" alt="" />
        <p class="testimonial__message">
          Sunnyside’s enthusiasm coupled with their keen interest in our brand’s
          success made it a satisfying and enjoyable experience.
        </p>
        <h4>Emily R.</h4>
        <h5>Chief Operating Officer</h5>
      </div>
      <div>
        <img class="testimonial-icon" src="images/image-jennie.jpg" alt="" />
        <p class="testimonial__message">
          We put our trust in Sunnyside and they delivered, making sure our
          needs were met and deadlines were always hit.
        </p>
        <h4>Emily R.</h4>
        <h5>Business Owner</h5>
      </div>
    </div>
  </div>
</div>
